.cell {
    height: 3em;
    width: 3em;
    border: 0.1em solid;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    font-weight: bold;
    font-size: large;
}

.cell.left {
    border-left: 0.15em solid;
}
.cell.right {
    border-right: 0.15em solid;
}
.cell.top {
    border-top: 0.15em solid;
}
.cell.bottom {
    border-bottom: 0.15em solid;
}

.cell.complete {
    background-color: lightgreen;
}

.cell.invalid {
    background-color: lightcoral;
}

@media only screen and (max-width: 600px) {
    .cell {
        height: 2em;
        width: 2em;
        line-height: 2em;
        font-size: medium;
    }
}

.cell:focus {
    background-color: #d0d0d0;
}

.cell.complete:focus {
    background-color: darkgreen;
}

.cell.invalid:focus {
    background-color: red;
}