.cell {
    height: 3em;
    width: 3em;
    border-width: 0.1em;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    font-weight: bold;
    font-size: large;
}

.cell:focus {
    background-color: #d0d0d0;
}