.grid-container {
    display: block;
}

.grid {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.cell {
    height: 3em;
    width: 3em;
    border-width: 0.1em;
    border-style: solid;
    cursor: pointer;
}

.cell:focus {
    background-color: #d0d0d0;
}